Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

RewriteBase "/"

RewriteCond %{REQUEST_FILENAME} !^.*\.css$
RewriteCond %{REQUEST_FILENAME} !^.*\.js$
RewriteCond %{REQUEST_FILENAME} !^.*\.php$
RewriteCond "%{REQUEST_FILENAME}" "!^favicon\.ico"
RewriteCond "%{REQUEST_FILENAME}" "!-f"
#RewriteCond "%{REQUEST_FILENAME}" "!-d"
#RewriteCond "%{REQUEST_FILENAME}" "!-l"

RewriteRule "^(.*)$" "index.php?q=$1" [L]

# из примера:
#RewriteCond "%{REQUEST_URI}" "!=/index.php"
#RewriteRule "^(.*)" "index.php?q=$1" [L,PT]
